body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    background: #EBDFAB;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgb(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 30%;
    display: flex;

}

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #EBDFAB;
    border-radius: 9px;
    transition: 0.3s;
    color: #000;
}