body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgb(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 30%;
    display: flex;

}

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #EBDFAB;
    border-radius: 9px;
    transition: 0.3s;
    color: #000;
}

.background {
    width: 1920px;
    height: 540px;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 6px 11px 2px #bebebe;
}

.title {
    position: absolute;
    top: 35%;
    left: 10%;
    color: #793c3c;
}

.box {
    position: absolute;
    top: 69%;
    right: 35%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d66161;
    width: 500px;
    height: 50px;
    padding: 0px 25px;
    border-radius: 100px;
}

input {
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: white;
}

.fa-magnifying-glas {
    color: skyblue;
    cursor: pointer;
}

.zoek {
    position: absolute;
    top: 61%;
    right: 49%;
}

.images {
    width: 400px;
    height: 200px;
    flex-direction: row;
    overflow-x: hidden;
    padding: 0px 0px 50px 0px;
    margin: 20px 40px 20px 30px;
    border-radius: 25px;
    box-shadow: 1px 2px 6px 2px #949494;
    transition: 0.4s;
}

.images:hover {
    transform: scale(1.02);
    box-shadow: 2px 3px 6px 3px #7f7f7f;
    transition: 0.4s;
    cursor: pointer;
}

.image {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

}

.recepten {
    margin: 70px 0px 30px 30px;
}
.tomato{
    display: inline-block;
    
}
.tomato p {
    margin: 0px 0px 30px 0px;
    text-align: center;
}
footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: inherit;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgba(229, 209, 96, 0.812);
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform:capitalize ;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}